<span class="hide_mobile"><%= render "layouts/navbar" %></span>
<%= notice %>


<div class="container-fluid">
<%= form_for @user do |u| %>

	<div class="row main">
		<div class=" col-xs-12 col-md-7 col-md-push-5 description">
			<!-- only shows on mobile view (navbar is also removed) -->
			<% if params[:controller] == "auths" || params[:controller] == "users" %>
      	<%=link_to get_page, get_route, class:"btn show_mobile mobile_login" %>
    	<% end %>
			<h1 class="headline">Clean Tweets</h1>
			<h2 class="tagline">Read What Matters</h2>

			<div class="row form">
				<div class="col-xs-0 col-md-2"></div>
				<div class="col-xs-12 col-md-8">
					<div>
						<%= u.label :email %>
						<%= u.text_field :email, :placeholder=> "What's your email", class: "form-control" %>
					</div>

					<div>
						<%= u.label :password %>
						<%= u.password_field :password, :placeholder=>"Create a Password", class: "form-control" %>
					</div>

					<div class="centered">
						<%= u.submit 'Sign up', class: "btn submit" %>
					</div>
				</div>
				<div class="col-xs-0 col-md-2"></div>	
			</div>

		</div>
		<div class="col-xs-12 col-md-5 col-md-pull-7"><i class="fa fa-twitter"></i></div>
	</div>		
</div>
<% end %>
