<%= render "layouts/navbar" %>
<%= notice %>


<div class="container-fluid">
<%= form_for @user do |u| %>
	<div class="row">
		<div class="col-md-5 description"></div>
		<div class="col-md-7 description">
			<h1 class="headline">Sign up for Clean Tweets</h1>
			<h2 class="tagline">Read What Matters</h2>
			<div>
				<%= u.label :email %>
				<%= u.text_field :email, :place_holder=> "What's your email", class: "form-control" %>
			</div>

			<div>
				<%= u.label :password %>
				<%= u.password_field :password, :place_holder=>"Create a Password", class: "form-control" %>
			</div>

			<div>
				<%= u.submit 'Submit', class: "btn btn-primary submit" %>
			</div>

		</div>
	</div>		
</div>
<% end %>

