<h1>Sign Up for Clean Tweets</h1>

<% link_to "Log In", new_auth_path %>  

<%= form_for @user do |u| %>
	<div>
		<%= u.label :email %>
	</div>

	<div>
		<%= u.text_field :email, :place_holder=> "What's your email" %>
	</div>

	<div>
		<%= u.label :password %>
	</div>

	<div>
		<%= u.password_field :password, :place_holder=>"Create a Password" %>
	</div>

	<div>
		<%= u.submit %>
	</div>	

<% end %>		

<%= params %>